<footer class="footer mt-auto py-3 bg-primary">
    <div class="container">
      <img src="/images/logo-etec.jpg" alt="" style="width: 150px; height: auto; border-radius: 8px; display: block; margin: 0 auto;">
      <span>Rodapé</span>
    </div>
  </footer>
  